In [1]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# csv_file pathing
fertility_rate_path = "Resource/fred_fertility_rates.csv"
living_arrangements_path = "Resource/census_living_arrangements.csv"
marital_status_path = "Resource/marital status overtime.csv"
age_fertility_path = "Resource/Age_Fertility.csv"
education_path = "Resource/Female Education Attainment Level.csv"

In [3]:
# Raw DataFrame Prep: Fertility Rates

fertility_rate_df = pd.read_csv(fertility_rate_path).dropna()
fertility_rate_df['DATE'] = pd.to_datetime(fertility_rate_df['DATE'].str.strip(), format='%d/%m/%Y').dt.year
fertility_rate_df.rename(columns = {'SPDYNTFRTINUSA':'fertility_rate','DATE':'Year'}, inplace = True) 

print(f'{len(fertility_rate_df)} records')
fertility_rate_df.head()

# Print to csv - remove hashmark in front of below code to export to csv
# fertility_rate_df.to_csv("Output/fertility_rate.csv", index=False, header=True)

59 records

   Year  fertility_rate
0  1960           3.654
1  1961           3.620
2  1962           3.461
3  1963           3.319
4  1964           3.190

In [4]:
# Raw DataFrame Prep: Living Arrangements

# Read csv, drop na
living_arrangements_df = pd.read_csv(living_arrangements_path).dropna()

# Merge with fertility rates
merge_living_df = pd.merge(fertility_rate_df, living_arrangements_df, on="Year", how="outer")

# Print and display
print(f'{len(merge_living_df)} records')
merge_living_df.head()

# Print to csv - remove hashmark in front of below code to export to csv
# merge_living_df.to_csv("Output/living_arrangements.csv", index=False, header=True)

60 records

,Year,fertility_rate,under_18,two_parents,mother_only,father_only,other_relatives,non_relatives
0,1960,3.654,63727.0,55877.0,5105.0,724.0,1601.0,420.0
1,1961,3.620,NaN,NaN,NaN,NaN,NaN,NaN
2,1962,3.461,NaN,NaN,NaN,NaN,NaN,NaN
3,1963,3.319,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,3.190,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Raw DataFrame Prep: Marital Status

# Read csv, drop na
marital_status_df = pd.read_csv(marital_status_path).dropna()

# Merge with fertility rates
merge_marital_df = pd.merge(fertility_rate_df, marital_status_df, on="Year", how="outer")

# Print and display
print(f'{len(merge_marital_df)} records')
merge_marital_df.head()

# Print to csv - remove hashmark in front of below code to export to csv
# merge_marital_df.to_csv("Output/marital_status.csv", index=False, header=True)

61 records

,Year,fertility_rate,Men Total,Married Men,Unmarried Men Total,Never Married Men,Widowed Men,Divorced Men,Women Total,Married Women,Unmarried Women Total,Never Married Women,Widowed Women,Divorced Women
0,1960,3.654,"60,273","41,781","18,492","15,274","2,112","1,106","64,607","42,583","22,024","12,252","8,064","1,708"
1,1961,3.620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962,3.461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1963,3.319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,3.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Raw DataFrame Prep: Fertility by Age

# Read csv
age_fertility_df = pd.read_csv(age_fertility_path)

# Clean
age_fertility_df = age_fertility_df[['Year', 'Age 10-14 Years', 'Age 15-19 Years', 'Age 20-24 Years',
                           'Age 25-29 Years', 'Age 30-34 Years', 'Age 35-39 Years', 'Age 40-44 Years', 'Age 45-49 Years']]

# Merge with fertility rates
merge_age_df = pd.merge(fertility_rate_df, age_fertility_df, on="Year", how="outer")

# Print and display
print(f'{len(merge_age_df)} records')

# Print to csv - remove hashmark in front of below code to export to csv
# merge_age_df.to_csv("Output/fertility_age.csv", index=False, header=True)
# plt.scatter(fertility_rate_df, age_fertility_df, s=area, c=colors, alpha=0.0)
# plt.title("Fertility rates by Age group")
# plt.xlabel("Age group")
# plt.ylabel("Fertility Rate")
ages_15_30 = merge_age_df["Age 15-19 Years"] + merge_age_df["Age 20-24 Years"] + merge_age_df["Age 25-29 Years"] + merge_age_df["Age 30-34 Years"]
ages_35_49 = merge_age_df['Age 35-39 Years'] + merge_age_df["Age 40-44 Years"] + merge_age_df["Age 45-49 Years"]

new_merge = merge_age_df.dropna()
new_merge['35 +'] = ages_35_49
new_merge['34 and below'] = ages_15_30
new_merge
# plot_1 = new_merge['Year']
# plot_2 = new_merge['35 +']
# plot_3 = new_merge['34 and below']
# # above_35 = merge_age_df["35 +"]
# below_35 = merge_age_df["34 and below"]

# plt.scatter(ages_15_30, ages_35_49, marke='o', facecolors='red', edgecolors='black',
#            s=x_axis, alpha=0.75)

73 records

<ipython-input-33-cbc6605ba7b1>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_merge['35 +'] = ages_35_49
<ipython-input-33-cbc6605ba7b1>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_merge['34 and below'] = ages_15_30

,Year,fertility_rate,Age 10-14 Years,Age 15-19 Years,Age 20-24 Years,Age 25-29 Years,Age 30-34 Years,Age 35-39 Years,Age 40-44 Years,Age 45-49 Years,35 +,34 and below
0,1960,3.6540,0.8,89.1,258.1,197.4,112.7,56.2,15.5,0.9,72.6,657.3
1,1961,3.6200,0.9,88.6,251.9,197.5,113.2,55.6,15.6,0.9,72.1,651.2
2,1962,3.4610,0.8,81.4,241.9,191.1,108.6,52.6,14.9,0.9,68.4,623.0
3,1963,3.3190,0.9,76.7,229.1,185.1,105.8,51.2,14.2,0.9,66.3,596.7
4,1964,3.1900,0.9,73.1,217.5,178.7,103.4,49.9,13.8,0.8,64.5,572.7
5,1965,2.9130,0.8,70.5,195.3,161.6,94.4,46.2,12.8,0.8,59.8,521.8
6,1966,2.7210,0.8,70.3,185.6,148.2,85.1,41.9,11.7,0.7,54.3,489.2
7,1967,2.5580,0.9,67.5,172.9,142.1,78.7,38.3,10.6,0.7,49.6,461.2
8,1968,2.4640,1.0,65.6,166.5,140.0,74.2,35.4,9.6,0.6,45.6,446.3
9,1969,2.4560,1.0,65.5,165.7,143.0,73.5,33.1,8.8,0.5,42.4,447.7
10,1970,2.4800,1.2,68.3,167.8,145.1,73.3,31.7,8.1,0.5,40.3,454.5
11,1971,2.2660,1.1,64.5,150.1,134.1,67.3,28.7,7.1,0.4,36.2,416.0
12,1972,2.0100,1.2,61.7,130.2,117.7,59.8,24.8,6.2,0.4,31.4,369.4
13,1973,1.8790,1.2,59.3,119.7,112.2,55.6,22.1,5.4,0.3,27.8,346.8
14,1974,1.8350,1.2,57.5,117.7,111.5,53.8,20.2,4.8,0.3,25.3,340.5
15,1975,1.7740,1.3,55.6,113.0,108.2,52.3,19.5,4.6,0.3,24.4,329.1
16,1976,1.7380,1.2,52.8,110.3,106.2,53.6,19.0,4.3,0.2,23.5,322.9
17,1977,1.7900,1.2,52.8,112.9,111.0,56.4,19.2,4.2,0.2,23.6,333.1
18,1978,1.7600,1.2,51.5,109.9,108.5,57.8,19.0,3.9,0.2,23.1,327.7
19,1979,1.8080,1.2,52.3,112.8,111.4,60.3,19.5,3.9,0.2,23.6,336.8
20,1980,1.8395,1.1,53.0,115.1,112.9,61.9,19.8,3.9,0.2,23.9,342.9
21,1981,1.8120,1.1,52.2,112.2,111.5,61.4,20.0,3.8,0.2,24.0,337.3
22,1982,1.8275,1.1,52.4,111.6,111.0,64.1,21.2,3.9,0.2,25.3,339.1
23,1983,1.7990,1.1,51.4,107.8,108.5,64.9,22.0,3.9,0.2,26.1,332.6
24,1984,1.8065,1.2,50.6,106.8,108.7,67.0,22.9,3.9,0.2,27.0,333.1
25,1985,1.8440,1.2,51.0,108.3,111.0,69.1,24.0,4.0,0.2,28.2,339.4
26,1986,1.8375,1.3,50.2,107.4,109.8,70.1,24.4,4.1,0.2,28.7,337.5
27,1987,1.8720,1.3,50.6,107.9,111.6,72.1,26.3,4.4,0.2,30.9,342.2
28,1988,1.9340,1.3,53.0,110.2,114.4,74.8,28.1,4.8,0.2,33.1,352.4
29,1989,2.0140,1.4,57.3,113.8,117.6,77.4,29.9,5.2,0.2,35.3,366.1
30,1990,2.0810,1.4,59.9,116.5,120.2,80.8,31.7,5.5,0.2,37.4,377.4
31,1991,2.0625,1.4,61.8,115.3,117.2,79.2,31.9,5.5,0.2,37.6,373.5
32,1992,2.0460,1.4,60.3,113.7,115.7,79.6,32.3,5.9,0.3,38.5,369.3
33,1993,2.0195,1.4,59.0,111.3,113.2,79.9,32.7,6.1,0.3,39.1,363.4
34,1994,2.0015,1.4,58.2,109.2,111.0,80.4,33.4,6.4,0.3,40.1,358.8
35,1995,1.9780,1.3,56.0,107.5,108.8,81.1,34.0,6.6,0.3,40.9,353.4
36,1996,1.9760,1.2,53.5,107.8,108.6,82.1,34.9,6.8,0.3,42.0,352.0
37,1997,1.9710,1.1,51.3,107.3,108.3,83.0,35.7,7.1,0.4,43.2,349.9
38,1998,1.9990,1.0,50.3,108.4,110.2,85.2,36.9,7.4,0.4,44.7,354.1
39,1999,2.0075,0.9,48.8,107.9,111.2,87.1,37.8,7.4,0.4,45.6,355.0
40,2000,2.0560,0.9,47.7,109.7,113.5,91.2,39.7,8.0,0.5,48.2,362.1
41,2001,2.0305,0.8,45.0,105.6,113.8,91.8,40.5,8.1,0.5,49.1,356.2
42,2002,2.0205,0.7,42.6,103.1,114.7,92.6,41.6,8.3,0.5,50.4,353.0
43,2003,2.0475,0.6,41.1,102.3,116.7,95.7,43.9,8.7,0.5,53.1,355.8
44,2004,2.0515,0.6,40.5,101.5,116.5,96.2,45.5,9.0,0.5,55.0,354.7
45,2005,2.0570,0.6,39.7,101.8,116.5,96.7,46.4,9.1,0.6,56.1,354.7
46,2006,2.1080,0.6,41.1,105.5,118.0,98.9,47.5,9.4,0.6,57.5,363.5
47,2007,2.1200,0.6,41.5,105.4,118.1,100.6,47.6,9.6,0.6,57.8,365.6
48,2008,2.0720,0.6,40.2,101.8,115.0,99.4,46.8,9.9,0.7,57.4,356.4
49,2009,2.0020,0.5,37.9,96.2,111.5,97.5,46.1,10.0,0.7,56.8,343.1
50,2010,1.9310,0.4,34.2,90.0,108.3,96.5,45.9,10.2,0.7,56.8,329.0
51,2011,1.8945,0.4,31.3,85.3,107.2,96.5,47.2,10.3,0.7,58.2,320.3
52,2012,1.8805,0.4,29.4,83.1,106.5,97.3,48.3,10.4,0.7,59.4,316.3
53,2013,1.8575,0.3,26.5,80.7,105.5,98.0,49.3,10.4,0.8,60.5,310.7
54,2014,1.8625,0.3,24.2,79.0,105.8,100.8,51.0,10.6,0.8,62.4,309.8
55,2015,1.8435,0.2,22.3,76.8,104.3,101.5,51.8,11.0,0.8,63.6,304.9
56,2016,1.8205,0.2,20.3,73.8,102.1,102.7,52.7,11.4,0.9,65.0,298.9
57,2017,1.7655,0.2,18.8,71.0,98.0,100.3,52.3,11.6,0.9,64.8,288.1
58,2018,1.7295,0.2,17.4,68.0,95.3,99.7,52.6,11.8,0.9,65.3,280.4

In [31]:
# Raw DataFrame Prep: Female Education Attainment Level

# Read csv and drop na
education_df = pd.read_csv(education_path).dropna()

# Clean
education_df.rename(columns = {'Years':'Year'}, inplace=True)

# Merge with fertility rates
merge_education_df = pd.merge(fertility_rate_df, education_df, on="Year", how="outer")

# Print and display
print(f'{len(merge_education_df)} records')
merge_education_df.head()

# Print to csv - remove hashmark in front of below code to export to csv
# merge_education_df.to_csv("Output/education.csv", index=False, header=True)

66 records

,Year,fertility_rate,Total # in thousands,e0 - 4,e5 - 8,hs0 - 3,hs4,c0 - 3,c4
0,1960,3.654,"51,468",7.30%,30.40%,19.70%,27.70%,9.00%,5.80%
1,1961,3.620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962,3.461,"52,381",6.90%,27.70%,17.90%,31.60%,9.30%,6.70%
3,1963,3.319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,3.190,"53,447",6.20%,26.40%,18.50%,33.40%,8.80%,6.80%